# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.db
gitdemo_win.VC.VC.opendb
*.ilk
Debug/gitdemo_win.pdb
*.log
gitdemo_win/Debug/gitdemo_win.tlog/CL.command.1.tlog
*.tlog
gitdemo_win/Debug/vc140.idb
*.pdb
